import("GO.db")
import("RamiGO")

importFrom("AnnotationDbi", "revmap", "as.list")
importFrom("graphics", "plot")
importFrom("utils", "browseURL")



## Namespace dependencies not required for suggested packages
## importFrom("Rgraphviz", getDefaultAttrs, agopen)
## importFrom("graph", nodeRenderInfo, edgeRenderInfo, nodes)

export(validGO,
       goNamespace,
       plotGO)
